<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <title>{% block title %}Pokedex{% endblock %}</title>

        <a href= "/home">
            <button type="submit">Home</button>
        </a>&nbsp;&nbsp;
        <a href= "/pokemon/search">
            <button type="submit">Pokemon Search</button>
        </a>&nbsp;&nbsp;
        <a href= "/pages/login">
            <button type="submit">Log-in</button>
        </a>&nbsp;&nbsp;
        <a href= "/pages/logout">
            <button type="submit">Log-out</button>
        </a>&nbsp;&nbsp;

    </head>
    <body>
    
        {% block content %}{% endblock %}
        {% block footer %}
        <hr>
        <p>Gotta catch'em all!</p>
        {% endblock %}
    </body>
    </html>